@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  /* width: 100vw; */
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*导航栏部分样式，还有一部分在mainMenu里面*/
.el-submenu__title {
  height: 82px !important;
  line-height: 82px !important;
}
.el-submenu__title:hover {
  background: linear-gradient(
    360deg,
    rgba(74, 44, 165, 0.3) 0%,
    rgba(74, 44, 165, 0.7) 100%
  ) !important;
  opacity: 0.8 !important;
}
/*导航栏部分二级菜单弹框样式*/
.el-menu--popup-bottom-start{
  margin-top: 0px;
}
.el-menu--popup{
  padding: 0px;
  color: #242F57;
}
.el-menu--popup>.is-active{
  background: #4A2CA5 !important;
  color: #FFFFFF !important;
}
.el-popconfirm__main {
  margin: 14px 0;
}
